:root {
  /* Fonts imported from CO */
  /* FONT_VARIABLES */
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  color: #fff;
}

#content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #777;
  overflow: hidden;
}

#creative_container {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: relative;
}
